.wrapper {
    max-width: 0 auto;
    max-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 0px;
}
.wrapper > * {
    background: #5592A9;
    border: 2px solid #5592A9;
    grid-column: col-start / span 12;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

aside img {
  width: 100%;
  margin: 0px;
}

@media (min-width: 480px) {
  .content {
    grid-column: col-start / span 9;
  }
  .side {
    grid-column: col-start 10 / span 3;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    margin-right: 10px;
  }
}

@media (min-width: 800px) {
  .main-nav {
    grid-column: col-start / span 2;

  }
  .main-nav ul li {
    border-bottom: 1px solid white;
    border-right: none;
  }
  .main-nav li:last-child {
    border-bottom: none;
  }


  .content {
    grid-column: col-start 3 / span 8;
  }
  .side {
    grid-column: col-start 11 / span 2;
  }
  nav ul {
    flex-direction: column;
  }
}
